body{background: linear-gradient(to top, #800000 0%, #000000 100%);}
h1{color: #ff6666;}
h1{font-family: "Comic Sans MS", cursive, sans-serif}
h1{text-align: center}
h1{font-size: 20px}
p{color: #ff0000;}
p{font-family: "Comic Sans MS", cursive, sans-serif}
p{font-size: 35px}
a{color: black;}
a{font-family: "Comic Sans MS", cursive, sans-serif}
a{font-size: 10px}
a{text-decoration: none}