body{background: linear-gradient(to top, #66ccff 0%, #ccffff 100%);}
h1{color: #66ccff;}
h1{text-align: center}
h1{font-family: "Comic Sans MS", cursive, sans-serif}
h1{font-size: 20px}
p{color: #00aaff;}
p{font-family: "Comic Sans MS", cursive, sans-serif}
p{font-size: 35px}
a{color: #ffffff;}
a{font-family: "Comic Sans MS", cursive, sans-serif}
a{font-size: 10px}
a{text-decoration: none}