body{background: linear-gradient(to top, #ff0000 0%, #ff3399 100%);}
h1{color: #73264d;}
h1{text-align: center}
h1{font-family: "Comic Sans MS", cursive, sans-serif}
h1{font-size: 20px}
p{color: #80002a;}
p{font-family: "Comic Sans MS", cursive, sans-serif}
p{font-size: 35px}
a{color: #73264d;}
a{font-family: "Comic Sans MS", cursive, sans-serif}
a{font-size: 10px}
a{text-decoration: none}