body{background: linear-gradient(to top, #cc99ff 0%, #ffccff 100%);}
h1{color: #ff66ff;}
h1{font-family: "Comic Sans MS", cursive, sans-serif}
h1{text-align: center}
h1{font-size: 20px}
p{color: #ff00ff;}
p{font-family: "Comic Sans MS", cursive, sans-serif}
p{font-size: 35px}
a{color: #ffffff;}
a{font-family: "Comic Sans MS", cursive, sans-serif}
a{font-size: 10px}
a{text-decoration: none}